svg {
  border: 2px solid #aaa;
}

rect {
    fill: steelblue;
    opacity: 0.6;
    float: left;
}

line {
    stroke: purple;
}

text {
    
    font-family: Helvetica;
    font-size: 10px;
    text-anchor: middle;
}